<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Сервисный центр</title>
</head>
<body>
<div th:if="${#authentication.principal.role == T(it.academy.service.entity.RoleEnum).SERVICE_CENTER}">
    <script>
        window.location.href = '/mainPage';
    </script>
</div>
<section>

    <div th:replace="included/header"></div>

    <div class="container main">

        <div th:replace="included/menu"></div>

        <div>
            <div>
                <form action="#" th:action="@{/service-centers/page/1}" method="get">
                    <input type="hidden" name="sortDir" th:value="${tablePage.sortDir}"/>
                    <input type="hidden" name="sortField" th:value="${tablePage.sortField}"/>

                    <input class="search" type="search" name="keyword"
                           placeholder="Найти по названию, адресу, email, телефону, УНП, ОКПО"
                           th:value="${tablePage.keyword}"/>
                    <input class="button light" type="submit" value="Найти">
                </form>
            </div>

            <div class="table-container">

                <div th:switch="${tablePage.listForTable}">

                    <div class="button-container">
                        <h1 style="color: red" th:if="${errorMessage != null}"
                            th:text="${errorMessage}"></h1>
                    </div>

                    <h2 th:case="null">Нет добавленных сервисных центров!</h2>
                    <div th:case="*">
                        <table id="repairs">
                            <thead>
                            <tr>
                                <th>
                                    <a th:href="@{'/service-centers/page/' + ${tablePage.pageNum} + '?sortField=serviceName&sortDir='
                                    + ${tablePage.sortDir == 'ASC'? 'DESC' : 'ASC'} + '&keyword=' + ${tablePage.keyword}}">
                                        Сервис</a>
                                </th>
                                <th>
                                    <a th:href="@{'/service-centers/page/' + ${tablePage.pageNum} + '?sortField=requisites.email&sortDir='
                                    + ${tablePage.sortDir == 'ASC'? 'DESC' : 'ASC'} + '&keyword=' + ${tablePage.keyword}}">
                                        Email</a>
                                </th>
                                <th class="date">
                                    <a th:href="@{'/service-centers/page/' + ${tablePage.pageNum} + '?sortField=requisites.legalAddress&sortDir='
                                    + ${tablePage.sortDir  == 'ASC'? 'DESC' : 'ASC'}+ '&keyword=' + ${tablePage.keyword}}">
                                        Юр. Адрес</a>
                                </th>
                                <th class="date">
                                    <a th:href="@{'/service-centers/page/' + ${tablePage.pageNum} + '?sortField=requisites.actualAddress&sortDir='
                                    + ${tablePage.sortDir  == 'ASC'? 'DESC' : 'ASC'}+ '&keyword=' + ${tablePage.keyword}}">
                                        Фактический Адрес</a>
                                </th>
                                <th class="date">
                                    <a th:href="@{'/service-centers/page/' + ${tablePage.pageNum} + '?sortField=requisites.phone&sortDir='
                                    + ${tablePage.sortDir  == 'ASC'? 'DESC' : 'ASC'}+ '&keyword=' + ${tablePage.keyword}}">
                                        Телефон</a>
                                </th>
                                <th>
                                    <a th:href="@{'/service-centers/page/' + ${tablePage.pageNum} + '?sortField=isActive&sortDir='
                                    + ${tablePage.sortDir == 'ASC'? 'DESC' : 'ASC'} + '&keyword=' + ${tablePage.keyword}}">
                                        Активность</a>
                                </th>
                                <th class="menu" colspan="2">Управление</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="serviceCenter : ${tablePage.listForTable}">
                                <td th:text="${serviceCenter.serviceName}"></td>
                                <td th:text="${serviceCenter.email}"></td>
                                <td th:text="${serviceCenter.legalAddress}"></td>
                                <td th:text="${serviceCenter.actualAddress}"></td>
                                <td th:text="${serviceCenter.phone}"></td>
                                <td th:text="${serviceCenter.isActive}"></td>
                                <td sec:authorize="hasAuthority('ADMIN')">
                                    <a th:href="@{'/service-centers/service-center-update/' + ${serviceCenter.id} + '?pageNum=' + ${tablePage.pageNum} +
                                        '&sortField=' + ${tablePage.sortField} + '&sortDir=' + ${tablePage.sortDir}
                                        + '&keyword=' + ${tablePage.keyword}}">Редактировать</a>
                                </td>
                                <td sec:authorize="hasAuthority('ADMIN')">
                                    <a th:href="@{'/service-centers/service-center-delete/' + ${serviceCenter.id} + '?pageNum=' + ${tablePage.pageNum} +
                                        '&sortField=' + ${tablePage.sortField} + '&sortDir=' + ${tablePage.sortDir}
                                        + '&keyword=' + ${tablePage.keyword}}">Удалить</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>

                    </div>
                </div>

                <div th:replace="included/pagination"></div>
            </div>
        </div>
    </div>
</section>
</body>