<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Сервисный центр</title>
</head>
<body>
<section>

    <div th:replace="included/header"></div>

    <div class="container main">

        <div class="table-container">

            <div class="forms-container lf">
                <h2>Изменение типа ремонта</h2>

                <form th:action="@{/repair-types/repair-type-update}" th:object="${repairType}" method="post" id="update-repair-type-id">

                    <input type="hidden" name="pageNum" th:value="${lastPage.pageNum}">
                    <input type="hidden" name="sortField" th:value="${lastPage.sortField}">
                    <input type="hidden" name="sortDir" th:value="${lastPage.sortDir}">
                    <input type="hidden" name="keyword" th:value="${lastPage.keyword}">

                    <input type="hidden" name="id" th:value="*{id}">

                    <div class="f-input" sec:authorize="hasAuthority('ADMIN')">
                        <div class="radio-container-rp">
                            <label>Активный: </label>
                            <label>да: </label>
                            <input type="radio" name="isActive" th:checked="${repairType.isActive == true}"
                                   th:value="true">
                            <label>нет: </label>
                            <input type="radio" name="isActive" th:checked="${repairType.isActive == false}"
                                   th:value="false">
                        </div>
                    </div>

                    <div class="f-input">
                        <label class="form-el">Название типа ремонта:</label>
                        <input class="f-form" required type="text" th:field="*{name}" name="name">
                    </div>

                    <div class="f-input">
                        <label class="form-el">Код ремонта:</label>
                        <input class="f-form" required type="text" th:field="*{code}" name="code">
                    </div>

                    <div class="f-input">
                        <label class="form-el">Уровень ремонта:</label>
                        <input class="f-form" required type="text" th:field="*{level}" name="level">
                    </div>

                </form>

                <div class="button-container">
                    <h1 style="color: red" th:if="${errorMessage != null}"
                        th:text="${errorMessage}"></h1>
                </div>


                <div class="button-container">
                    <input class="button button-fieldset" type="submit" value="Сохранить" form="update-repair-type-id"/>
                    <div class="button button-fieldset">
                        <a style="color: white" th:href="@{'/repair-types/page/' + ${lastPage.pageNum} + '?sortField=' + ${lastPage.sortField} + '&sortDir='
                                    + ${lastPage.sortDir} + '&keyword=' + ${lastPage.keyword}}">Отмена</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<script src="/js/ModelFormBehavior.js"></script>
</body>