<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>Сервисный центр</title>
</head>
<body>

<section class="login-section">
    <div class="login-container">
        <div class="header">
            <h1>Сервисный центр</h1>
        </div>

        <div class="form-container">
            <form th:action="@{/login}" method="post">
                <div class="container">
                    <label class="form-el" for="username">Email:</label>
                    <br><input class="form-el" type="text" id="username" name="username" value="admin@mail.ru" placeholder="Email:">

                    <br><br>
                    <label class="form-el" for="password">Пароль:</label>
                    <br><input class="form-el" type="password" id="password" name="password" value="User8707!" placeholder="Пароль:">
                    <div style="color: red" th:if="${param.error}">
                        Неверный логин или пароль!
                    </div>

                    <div class="button-container">
                        <input class="button"  type="submit" name="commit" value="Войти">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>